#myChart{
	top: 170px;
	position: absolute;
}

#dropdown1, #dropdown2{
	top: 50px;
	height: 10px;
	width: 100px;
	float: left;
	margin: 10px;
}

.list{
	display: none;
	float: left;
	top: 100px;
	position: absolute;
}